<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>All the destinations!</h1>
            <p>View the destinations from all over the world.</p>
            <p>
                <a class="btn btn-primary btn-large" href="/destinations/new">Add a new destination</a>
            </p>
        </div>
    </header>
    
    
    <div class="row text-center" style="diplay: flex; flex-wrap: wrap;">
        <% destinations.forEach(function(destination) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= destination.image %>">
                    <div class="caption">
                        <h3><%= destination.name %></h3>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>




<% include partials/footer %>