<% include partials/header %>

<h1><%= destination.name %></h1>
    <img src="<%= destination.image %>">
    <p><%= destination.description %></p>
    <a href="/destinations">Back to the destinations</a>
    <a href="/destinations/<%=destination._id%>/edit">Edit the destination</a>

<% include partials/footer %>